.rc-md-navigation {
  border: none;
  background: none !important;
}

.rc-md-editor {
  border: none !important;
  background: none !important;
}

.rc-md-editor.full > .rc-md-navigation {
  background: #fafafa !important;
}

.rc-md-editor .editor-container .sec-md .input {
  background: none !important;
}

.rc-md-editor.full .editor-container .sec-md .input {
  background: #fafafa !important;
}

.rc-md-editor.full .editor-container .sec-html {
  background: #fafafa !important;
}

.ace_print-margin {
  visibility: hidden !important;
}
/* 
.react-resizable-handle {
  background-image: url('./assets/white-arrow.png') !important;
} */
