.rc-md-navigation {
  border: none;
  background: none !important;
}

.rc-md-editor {
  border: none !important;
  background: none !important;
}

.rc-md-editor .editor-container .sec-md .input {
  background: none !important;
}
